@model WebApp_Mini_Project.Models.Post

<h2>Post Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>เลขห้อง</dt>
        <dd>@Model.Id_room</dd>

        <dt>จำนวนคน</dt>
        <dd>@Model.Max_person</dd>

        <dt>รายละเอียด</dt>
        <dd>@Model.Details</dd>

        <dt>เกม</dt>
        <dd>@Model.Game</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")

</p>

</p>

