@using WebApp_Mini_Project.ViewModels
@model PostViewModel

<head>
    <link rel="stylesheet" href="~/css/style_Post.css">

</head>

<main class="main-container">
    <section class="search-section">
        <h2>หาเพื่อนเล่นเกมส์ดีที่สุดในประเทศไทย</h2>
        <input type="text" placeholder="พิมพ์เพื่อค้นหา..." class="search-bar">
    </section>

    <button class="refresh-btn" id="openPopupBtn"><span>Posts</span></button>
    <!-- Popup Form -->
   
    <div class="popup-background" id="popup">
        <div class="popup-form">
            <h3>กรอกข้อมูลห้อง</h3>
            <form method="POST" asp-controller="Post" asp-action="Create">
                <label asp-for="NewPost.Name_room">ชื่อห้อง :</label>
                <input type="text" asp-for="NewPost.Name_room" required>
                <label asp-for="NewPost.Id_room">เลขห้อง :</label>
                <input type="text" asp-for="NewPost.Id_room" required>


                <label asp-for="NewPost.Game">เกม :</label>
                <select asp-for="NewPost.Game">
                    <option value="Valorant">Valorant</option>
                    <option value="PUBG">PUBG</option>
                    <option value="Dota2">Dota2</option>
                    <option value="Rov">Rov</option>
                </select>

                <label asp-for="NewPost.Details">รายละเอียด :</label>
                <input type="text" asp-for="NewPost.Details" required>

                <label asp-for="NewPost.Max_person">จำนวนสมาชิก :</label>
                <select asp-for="NewPost.Max_person">
                    <option value="1">1 คน</option>
                    <option value="2">2 คน</option>
                    <option value="3">3 คน</option>
                    <option value="4">4 คน</option>
                </select>
                @{
                    var currentTime = DateTime.Now;
                    var dateValue = currentTime.ToString("yyyy-MM-dd"); // รูปแบบวันที่
                    var timeValue = currentTime.ToString("HH:mm");
                }
                <label >เวลาปิดโพส :</label>
                <input type="date" asp-for="NewPost.dayend" value="@dateValue" required>
                <input type="time" id="duration" asp-for="NewPost.timeend" value="@timeValue" required>

                <button type="submit">ยืนยัน</button>
            </form>
            <div class="close-popup" id="closePopup">ปิด</div>
        </div>
    </div>


    <div class="test">
    <div class="card-container" id="card-container">
        @foreach (var post in Model.Posts)
            {
                if (post.timeout > DateTime.Now && post.Count_person < post.Max_person)
                {
                    <div class="card-container2" id="card-container">
                        <div class="card">
                            @{
                                int ID = 0;
                                if (ViewBag.UserID != null)
                                {
                                    ID = ViewBag.UserID;
                                }
                                if (post.User_Picture != null)
                                {
                                    var base64String = Convert.ToBase64String(post.User_Picture);
                                    var imgSrc = $"data:image/jpeg;base64,{base64String}";
                                        <img src="@imgSrc" alt="logo" class="card-logo" />
                                }
                                else
                                {
                                        <img src="~/Image/User_icon.png" alt="logo" class="card-logo" />
                                }

                                var timeAgo = DateTime.Now - post.timeCreate;
                                string timeAgoString;

                                if (timeAgo.TotalDays >= 1)
                                {
                                    var daysAgo = (int)timeAgo.TotalDays;
                                    timeAgoString = $"{daysAgo} วันที่แล้ว";
                                }

                                else if (timeAgo.TotalHours >= 1)
                                {
                                    var hoursAgo = (int)timeAgo.TotalHours;
                                    timeAgoString = $"{hoursAgo} ชั่วโมงที่แล้ว";
                                }
                                else
                                {
                                    var minutesAgo = (int)timeAgo.TotalMinutes;
                                    timeAgoString = $"{minutesAgo} นาทีที่แล้ว";
                                }

                            }
                            @foreach (var account in Model.Account)
                            {

                                if (account.ID == post.User_id)

                                {
                                    <p id="user"> @account.Username</p>
                                }
                            }
                            <p id="time">@timeAgoString</p>
                            <div class="card-content">

                                <p><b>ชื่อห้อง</b> : @post.Name_room</p>
                                <p><b>เกม</b> : @post.Game</p>
                                <p><b>รายละเอียด</b> : @post.Details</p>
                            </div>
                            @if (post.User_list.Contains(ID))
                            {
                                <button class="card-button join-room-button" data-id="@post.ID" disabled style="opacity: 0.6; cursor: default;">
                                    <span id="person-count-@post.ID">@post.Count_person/@post.Max_person</span>
                                </button>
                            }
                            else if (post.User_id != ID)
                            {
                                <button class="card-button join-room-button" data-id="@post.ID" data-timeout="@post.timeout">
                                    <span id="person-count-@post.ID">@post.Count_person/@post.Max_person</span>
                                </button>
                            }
                            else
                            {
                                <button class="card-button join-room-button" data-id="@post.ID" disabled style="background-color: white; cursor: default; ">
                                    <span id="person-count-@post.ID">@post.Count_person/@post.Max_person</span>
                                </button>
                            }


                        </div>
                    </div>
                }
     

        }

    </div>

        <div class="chat-board-container">
            <div class="chat-board-header">
                <p>Chat Board</p>
            </div>
            <div class="chat-board-messages" id="chatMessages">
                <!-- Show message form ajax -->
            </div>
            <div class="chat-board-input">
                <input type="text" id="chatInput" name="Message" placeholder="Type your message here..." required>
                <button type="button" id="sendMessageBtn" class="btn-chat">Send</button>
            </div>
        </div>


      </div>



</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/script_Post.js"></script>
<script>
    const popupBtn = document.getElementById('openPopupBtn'); // ปุ่มเปิด form
    const closePopup = document.getElementById('closePopup'); // ปุ่มปิด form
    const userSession = '@ViewBag.Usersession'; // session
    const popup = document.getElementById('popup'); // form

    // ฟังก์ชั่นเปิด Form Post
    popupBtn.addEventListener('click', function () {
        if (!userSession) { // เช็คว่ามี session ในระบบไหม
            window.location.href = '/Account/Login'; //ถ้าไม่มีจะให้ไป login
        } else {
            popup.style.display = 'flex'; // ถ้ามีจะให้เปิด form
        }
    });
    // ฟังก์ชั่นปิด Form Post
    closePopup.addEventListener('click', function () {
        popup.style.display = 'none';
    });

    //-----------------------------------------------Check button---------------------------------------------


    // ตรวจสอบข้อมูล Count_person ว่ามากกว่าหรือเท่ากับ Max_person ไหมเมื่อเปิดหน้าเว็บ
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".card-container").forEach(function (container) {
            var countSpan = container.querySelector(".card-button");
            var button = container.querySelector(".card-button");

            var countMax = countSpan.textContent.split('/').map(Number);
            var countPerson = countMax[0];
            var maxPerson = countMax[1];
            if (countPerson >= maxPerson) {
                button.style.color = 'white';
                button.style.pointerEvents = "none";
                button.style.cursor = "not-allowed";
                button.style.opacity = "0.6";
            }
        });
    });

    // ------------------------------------------------Join Post-------------------------------------------------

    // เช็คจำนวนคนใน Post
    $(document).ready(function () {
        $('.join-room-button').click(function (e) {
            e.preventDefault(); // หยุดการทำงานของลิงก์ปกติ

            var button = $(this); // เก็บการอ้างอิงถึงปุ่มที่คลิก
            var postId = button.data('id');
            var personCountSpan = $('#person-count-' + postId);
            var personCountText = personCountSpan.text();
            var currentCount = parseInt(personCountText.split('/')[0]);
            var maxPerson = parseInt(personCountText.split('/')[1]);

            if (!userSession) {
                window.location.href = '/Account/Login';
                return;
            }

            var timeout = new Date(button.data('timeout'));
            console.log(timeout);

            // เช็คว่า timeout ยังไม่ถึงหรือไม่
            if (timeout <= new Date()) {
                alert('เวลาที่กำหนดหมดแล้ว');
                window.location.href = '/Post/Index';
                return;
            }


            $.ajax({
                url: '@Url.Action("Joinroom", "Post")',
                type: 'POST',
                data: { id: postId, user: '@ViewBag.Usersession' },
                success: function (response) {
                    if (response.success) {
                        var newCount = response.newCount;
                        personCountSpan.text(newCount + '/' + maxPerson);
                        //ตรวจสอบอีกครั้งเพื่ออัปเดตสถานะปุ่ม
                        if (newCount >= maxPerson) {
                            button.css({
                                'color': 'white',
                                'pointer-events': 'none',      // ป้องกันการคลิก
                                'cursor': 'not-allowed',       // เปลี่ยนเคอร์เซอร์เป็นไม่อนุญาต
                                'opacity': '0.6'               // ทำให้ปุ่มโปร่งแสง
                            });
                        } else {
                            button.css({
                                'pointer-events': 'none',
                                'color': 'white',// ป้องกันการคลิก
                                'cursor': 'not-allowed',       // เปลี่ยนเคอร์เซอร์เป็นไม่อนุญาต
                                'opacity': '0.6'               // ทำให้ปุ่มโปร่งแสง
                            });
                        }
                    } else {
                        button.css({
                            'pointer-events': 'none',      // ป้องกันการคลิก
                            'color': 'white',
                            'cursor': 'not-allowed',       // เปลี่ยนเคอร์เซอร์เป็นไม่อนุญาต
                            'opacity': '0.6'               // ทำให้ปุ่มโปร่งแสง
                        });
                        return;
                    }
                },
            });
        });
    });

    // ---------------------------------------Chat Board---------------------------------------------
    function scrollToBottom() {
        const chatMessages = document.getElementById('chatMessages');
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }

    $(document).ready(function () {
        $('#sendMessageBtn').click(function (event) {
            event.preventDefault(); // ป้องกันการส่งฟอร์ม
            var message = $('#chatInput').val();
            if (!userSession){
                window.location.href = '/Account/Login';
                return;
            }
            if (message.trim() === '') { 
                return;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddChat", "Chat")', // URL ของ Action ที่จะเรียก
                data: { Message: message, User: userSession },
                success: function () {
                    $('#chatInput').val(''); // เคลียร์ฟิลด์ข้อความหลังจากส่ง
                    console.log('suscess');
                    loadChats(); // เรียกใช้งานฟังก์ชันโหลดข้อความ
                },
                error: function (xhr, status, error) {
                    console.error("Error sending message: " + error);
                }
            });
        });

        // ฟังก์ชันสำหรับโหลด chat
        function loadChats() {
            $.ajax({
                url: '/Chat/GetChats',
                type: 'GET',
                success: function (data) {
                    $('#chatMessages').empty(); // ลบข้อความเก่าออก
                    $.each(data.chats, function (index, chat) {
                        var user = chat.user_id || "Unknown User";
                        var user_name = ''
                        $.each(data.account, function (index, account) {

                            if (user == account.id) {
                                user_name = account.username;
                            }
                        });
                        var message = chat.message || "No message";
                        var createdAt = new Date(chat.createdAt);
                        var timeString = createdAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }); // แสดงเวลาในรูปแบบ HH:mm

                        var imageBase64 = chat.profilePicture ? 'data:image/png;base64,' + chat.profilePicture : '/Image/User_icon.png';
                        var ownMessageClass = (String(chat.user_id) === String('@ViewBag.UserID')) ? 'own-message' : 'other-message';
                        $('#chatMessages').prepend(

                            `<div class="chat-message ${ownMessageClass}">
                                    <img src="${imageBase64}" alt="Avatar" class="user-icon">
                                    <p>${user_name} <span> ${timeString} </span></p>
                                        <div class="message"> ${message} </div>
                            </div>`
                        );
                    });
                    scrollToBottom();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching chats:", error);
                }
            });
        }
        // โหลด chats เมื่อเริ่มต้น
        loadChats();

        // setInterval(loadChats, 5000); โหลด chats ทุกๆ 5 วิ
    });


</script>

