@using WebApp_Mini_Project.ViewModels
@model AccountViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="~/css/style_Profile.css">
</head>
<body>

    <!-- ไอ้ภูแก้ตรงนี้ -->
    
    <div class="profile-container">
        <!-- Settings Icon -->
        <div class="settings-icon" onclick="togglePopup()">
            <img src="https://img5.pic.in.th/file/secure-sv1/Pngtreewhite-edit-icon_4559214.png" alt="Settings Icon">
        </div>

        <div class="content-section">
            <!-- Avatar Section (Left) -->
            <div class="avatar-section">
                @if (Model.Account.ProfilePicture != null)
                {
                    var imageBase64 = Convert.ToBase64String(Model.Account.ProfilePicture);
                    <img src="data:image/png;base64,@imageBase64" alt="Avatar">
                }
                else
                {
                    <img src="~/Image/User_icon.png" alt="Avatar">
                }
            </div>

            <!-- Form Section (Right) -->
            <div class="form-section">
                <form id="profileForm" class="profile-form">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" value="@Model.Account.Username" disabled>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" value="********" disabled>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="@Model.Account.Email" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ถึงตรงนี้ -->

    <!-- Card Container for User's Own Posts -->

    <div class="card-container-wrapper">
        <button class="scroll-button left" onclick="scrollLeft('.card-container')"><</button>
        <div class="card-label">
            <h2>โพสของคุณ</h2>
        </div>
        <div class="card-container">

            @foreach (var post in Model.Posts)
            {
                if (Model.Account.ID == post.User_id) // Adjusted condition for joined posts
                {
                    DateTime timeout = post.timeout; 
                    string datePart = timeout.ToString("yyyy-MM-dd"); 
                    string timePart = timeout.ToString("HH:mm"); 

                    <div class="card">
                        <!-- Card Menu in the top right corner -->
                        <div class="card-menu" onclick="toggleCardMenu(event)">
                            <span>⋮</span>
                            <ul class="card-menu-options">
                                <li onclick="openEditPopup('@post.ID','@post.Name_room', '@post.Id_room', '@post.Game', '@post.Details', '@post.Max_person', '@datePart', '@timePart')">แก้ไข</li>
                                <li > <a asp-controller="Post" asp-action="ClosePost" asp-route-id="@post.ID">ปิดรับคน</a> </li>
                                <li onclick="confirmDelete('@post.ID')">ลบ</li>
                            </ul>
                        </div>

                        @{
                            int ID = 0;
                            if (ViewBag.UserID != null)
                            {
                                ID = ViewBag.UserID;
                            }
                                @foreach (var account in Model.Account_list)
                            {
                                if (account.ProfilePicture != null)
                                {
                                    if (post.User_id == account.ID)
                                    {
                                        var base64String = Convert.ToBase64String(account.ProfilePicture);
                                        var imgSrc = $"data:image/jpeg;base64,{base64String}";
                                            <img src="@imgSrc" alt="logo" class="card-logo" />
                                    }
                                }
                                else
                                {
                                        <img src="~/Image/User_icon.png" alt="logo" class="card-logo" />
                                }
                            }

                            var timeAgo = DateTime.Now - post.timeCreate;
                            string timeAgoString;

                            if (timeAgo.TotalDays >= 1)
                            {
                                var daysAgo = (int)timeAgo.TotalDays;
                                timeAgoString = $"{daysAgo} วันที่แล้ว";
                            }

                            else if (timeAgo.TotalHours >= 1)
                            {
                                var hoursAgo = (int)timeAgo.TotalHours;
                                timeAgoString = $"{hoursAgo} ชั่วโมงที่แล้ว";
                            }
                            else
                            {
                                var minutesAgo = (int)timeAgo.TotalMinutes;
                                timeAgoString = $"{minutesAgo} นาทีที่แล้ว";
                            }

                        }
                        

                        <div class="card-content">
                            <p id="user">@Model.Account.Username</p>
                            <p id="time">@timeAgoString</p>
                            <p><b>ชื่อห้อง</b> : @post.Name_room</p>
                            <p><b>เกม</b> : @post.Game</p>
                            <p><b>รายละเอียด</b> : @post.Details</p>
                        </div>
                        <button class="card-button join-room-button" data-id="@post.ID" disabled style="color: white; cursor: default;">
                            <span id="person-count-@post.ID">@post.Count_person/@post.Max_person</span>
                        </button>
                    </div>
                }
            }
        </div>
        <button class="scroll-button right" onclick="scrollRight('.card-container')">></button>
    </div>

    <!-- Card Container for Joined Posts -->
    <div class="card-container-wrapper-join">
        <button class="scroll-button-join left" onclick="scrollLeft('.card-container-join')"><</button>
        <div class="card-label-join">
            <h2>โพสที่เข้าร่วม</h2>
        </div>
        <div class="card-container-join">
            
            @foreach (var post in Model.Posts)
            {
                if (post.User_list.Contains(Model.Account.ID))
                {
                    <div class="card-join">
                        <div class="card-menu" onclick="toggleCardMenu(event)">
                            <span>⋮</span>
                            <ul class="card-menu-options">
                                <li> <a asp-controller="Post" asp-action="Unjoin" asp-route-id="@post.ID" asp-route-userId="@ViewBag.UserID">ยกเลิกเข้าร่วม</a> </li>
                            </ul>
                        </div>
                        @{
                            int ID = 0;
                            if (ViewBag.UserID != null)
                            {
                                ID = ViewBag.UserID;
                            }
                                @foreach (var account in Model.Account_list)
                            {
                                if (account.ProfilePicture != null)
                                {
                                    if (post.User_id == account.ID)
                                    {
                                        var base64String = Convert.ToBase64String(account.ProfilePicture);
                                        var imgSrc = $"data:image/jpeg;base64,{base64String}";
                                            <img src="@imgSrc" alt="logo" class="card-logo" />
                                    }
                                }
                                else
                                {
                                        <img src="~/Image/User_icon.png" alt="logo" class="card-logo" />
                                }
                            }

                            var timeAgo = DateTime.Now - post.timeCreate;
                            string timeAgoString;

                            if (timeAgo.TotalDays >= 1)
                            {
                                var daysAgo = (int)timeAgo.TotalDays;
                                timeAgoString = $"{daysAgo} วันที่แล้ว";
                            }

                            else if (timeAgo.TotalHours >= 1)
                            {
                                var hoursAgo = (int)timeAgo.TotalHours;
                                timeAgoString = $"{hoursAgo} ชั่วโมงที่แล้ว";
                            }
                            else
                            {
                                var minutesAgo = (int)timeAgo.TotalMinutes;
                                timeAgoString = $"{minutesAgo} นาทีที่แล้ว";
                            }

                        }
                        

                        <div class="card-content-join">
                            @foreach (var account in Model.Account_list)
                            {
                                if (post.User_id == account.ID)
                                {
                                    <p id="user">@account.Username</p>
                                }
                            }
                            
                            <p id="time">@timeAgoString</p>
                            <p><b>ชื่อห้อง</b> : @post.Name_room</p>
                            <p><b>เกม</b> : @post.Game</p>
                            <p><b>รายละเอียด</b> : @post.Details</p>
                        </div>
                        <button class="card-button-join join-room-button" data-id="@post.ID" style=" color:white; cursor: default; opacity: 0.6;" disabled>
                            <span id="person-count-@post.ID">@post.Count_person/@post.Max_person</span>
                        </button>
                    </div>
                }
            }
        </div>
        <button class="scroll-button-join right" onclick="scrollRight('.card-container-join')">></button>
    </div>


    <!-- Edit Post-->
    <div id="editPopup" class="edit-popup">
        <div class="edit-popup-content">
            <span class="close" onclick="closeEditPopup()">&times;</span>
            <h2>Edit Information</h2>
            <form method="POST" asp-controller="Post" asp-action="EditPost">
                <input type="hidden" id="editPostId" name="id">
                <div class="form-group">
                    <label for="editRoomName">ชื่อห้อง</label>
                    <input type="text" id="editRoomName" name="roomname" placeholder="Enter room name">
                </div>
                <div class="form-group">
                    <label for="editRoomid">เลขห้อง</label>
                    <input type="text" id="editRoomid" name="roomid" placeholder="Enter room name">
                </div>
                <div class="form-group">
                    <label for="editGame">เกม</label>
                    <input type="text" id="editGame" name="game" placeholder="Enter game">
                </div>
                <div class="form-group">
                    <label for="editDetails">รายละเอียด</label>
                    <input type="text" id="editDetails" name="detail" placeholder="Enter details">
                </div>
                <div class="form-group">
                    <label for="editCount">จำนวนสมาชิก</label>
                    <select id="editCount" name="count" placeholder="Enter details">
                        <option value="1">1 คน</option>
                        <option value="2">2 คน</option>
                        <option value="3">3 คน</option>
                        <option value="4">4 คน</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editTimend">เวลาปิดโพส</label>
                    <input type="date" id="editDayend" name="day">
                    <input type="time" id="editTime" name="time">
                </div>

                <div class="popup-actions">
                    <button type="submit" class="btn-save">Save</button>
                    <button type="button" class="btn-cancel" onclick="closeEditPopup()">Cancel</button>
                </div>
  
            </form>
        </div>
    </div>

    <!-- delete Post -->
    <div id="delete-confirmation-modal" class="modal" style="display:none;">
        <div class="modal-content">
            <form method="POST" asp-controller="Post" asp-action="DeletePost">
                <input type="hidden" id="deletePostid" name="id">
                <h3>ยืนยันการลบ</h3>
                <p>คุณต้องการลบโพสต์นี้หรือไม่?</p>
                <div class="button-group">
                    <button type="submit" id="confirm-delete-button" class="btn-confirm">ใช่</button>
                    <button type="button" class="btn-cancel" onclick="closeModal()">ไม่</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Edit profile -->
    <div class="popup-overlay" id="popupOverlay"></div>
    <div class="popup" id="popup">
        <form method="POST" asp-controller="Account" asp-action="EditProfile" asp-route-id="@Model.Account.ID" id="popupForm" class="popup-form" enctype="multipart/form-data">
            <div class="popup-header">
                @if (Model.Account.ProfilePicture != null)
                {
                    var imageBase64 = Convert.ToBase64String(Model.Account.ProfilePicture);
                    <img id="popupProfileImage" src="data:image/png;base64,@imageBase64" alt="Avatar" onclick="triggerFileInput()" style="cursor: pointer;">
                }
                else
                {
                    <img id="popupProfileImage" src="~/Image/User_icon.png" alt="Avatar" onclick="triggerFileInput()" style="cursor: pointer;">
                }

            </div>
            <div class="form-group">
                <label for="popupUsername">Username</label>
                <input type="text" id="popupUsername" name="username" value="@Model.Account.Username" required>
            </div>
            <div class="form-group">
                <label for="popupPassword">Password</label>
                <input type="password" id="popupPassword" name="password" placeholder="Leave blank to keep current password">
            </div>
            <div class="form-group">
                <label for="popupEmail">Email</label>
                <input type="email" id="popupEmail" name="email" value="@Model.Account.Email" required>
            </div>
            <div class="popup-buttons">
                <button type="submit">Save</button>
                <button type="button" onclick="togglePopup()">Close</button>
            </div>
            <input type="file" id="fileInput" name="profilePicture" accept="image/*" style="display: none;" onchange="previewImage(event)">
        </form>
    </div>

    <script>
        // Function to toggle the settings popup
        function togglePopup() {
            var popup = document.getElementById("popup");
            var overlay = document.getElementById("popupOverlay");

            if (popup.style.display === "none" || popup.style.display === "") {
                popup.style.display = "block";
                overlay.classList.add("show"); // Add 'show' class to display overlay
            } else {
                popup.style.display = "none";
                overlay.classList.remove("show"); // Remove 'show' class to hide overlay
            }
        }

        // Function to trigger the hidden file input
        function triggerFileInput() {
            document.getElementById('fileInput').click();
        }

        // Function to preview the selected image
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('popupProfileImage');
                if (output) {
                    output.src = reader.result;
                }
            }
            if (event.target.files[0]) {
                reader.readAsDataURL(event.target.files[0]);
            }
        }

        // Function to toggle card menu for user’s own posts
        function toggleCardMenu(event) {
            event.stopPropagation(); // Prevent click from propagating to parent elements
            const menu = event.currentTarget.querySelector('.card-menu-options');
            const isVisible = menu.style.display === 'block';
            menu.style.display = isVisible ? 'none' : 'block';
        }

        // Function to toggle card menu for joined posts
        function toggleCardMenuJoin(event) {
            event.stopPropagation(); // Prevent click from propagating to parent elements
            const menu = event.currentTarget.querySelector('.card-menu-options-join');
            const isVisible = menu.style.display === 'block';
            menu.style.display = isVisible ? 'none' : 'block';
        }

        // Function to open the edit popup
        function openEditPopup(id, roomName, roomid, game, details, count, day, time) {
            document.getElementById('editPostId').value = id;
            document.getElementById('editRoomName').value = roomName;
            document.getElementById('editRoomid').value = roomid;
            document.getElementById('editGame').value = game;
            document.getElementById('editDetails').value = details;

            document.getElementById('editCount').value = count;
            document.getElementById('editDayend').value = day;
            document.getElementById('editTime').value = time;


            document.getElementById("editPopup").style.display = "block";
        }

        function deletePost(id) {

        }

        // Function to close the edit popup
        function closeEditPopup() {
            document.getElementById("editPopup").style.display = "none";
        }

        // Generic function to scroll left
        function scrollLeft(containerSelector) {
            console.log("Scrolling left...");
            const container = document.querySelector(containerSelector);
            if (container) {
                container.scrollBy({
                    left: -226,
                    behavior: 'smooth'
                });
            }
        }

        // Generic function to scroll right
        function scrollRight(containerSelector) {
            console.log("Scrolling right...");
            const container = document.querySelector(containerSelector);
            if (container) {
                container.scrollBy({
                    left: 226,
                    behavior: 'smooth'
                });
            }
        }

        // Attach event listeners to scroll buttons
        document.querySelectorAll('.scroll-button.left').forEach(button => {
            button.addEventListener('click', () => scrollLeft('.card-container'));
        });

        document.querySelectorAll('.scroll-button.right').forEach(button => {
            button.addEventListener('click', () => scrollRight('.card-container'));
        });

        document.querySelectorAll('.scroll-button-join.left').forEach(button => {
            button.addEventListener('click', () => scrollLeft('.card-container-join'));
        });

        document.querySelectorAll('.scroll-button-join.right').forEach(button => {
            button.addEventListener('click', () => scrollRight('.card-container-join'));
        });

        window.onclick = function (event) {
            var editPopup = document.getElementById("editPopup");
            var popup = document.getElementById("popup");
            var overlay = document.getElementById("popupOverlay");

            // Close edit popup if clicking outside of it
            if (event.target == editPopup) {
                editPopup.style.display = "none";
            }

            // Close settings popup if clicking outside of it
            if (event.target == popup || event.target == overlay) {
                popup.style.display = "none";
                overlay.classList.remove("show"); // Hide overlay
            }

            // Close card menus if clicked outside
            if (!event.target.closest('.card-menu') && !event.target.closest('.card-menu-join')) {
                var dropdowns = document.getElementsByClassName("card-menu-options");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    openDropdown.style.display = "none";
                }

                var dropdownsJoin = document.getElementsByClassName("card-menu-options-join");
                for (var i = 0; i < dropdownsJoin.length; i++) {
                    var openDropdownJoin = dropdownsJoin[i];
                    openDropdownJoin.style.display = "none";
                }
            }
        }


        function confirmDelete(postId) {
            document.getElementById('deletePostid').value = postId; // ตั้งค่า ID
            document.getElementById('delete-confirmation-modal').style.display = 'flex'; // แสดง modal
        }

        function closeModal() {
            document.getElementById('delete-confirmation-modal').style.display = 'none'; // ปิด modal
        }





    </script>
</body>
</html>
